<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!-- Agrega referencia a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../styles/stayles.css" type="css">
    
</head>
<body>
    <div class="container mt-5 chat-container">
        <!-- Contenedor del chat -->
        <form action="/enviar?token=<%= token %>" method="post">
            <div class="card">
                <div class="card-body">
                    <!-- Área de mensajes -->
                    <textarea disabled class="form-control" placeholder=""  id="floatingTextarea2" style="height: 400px">
                        <% mensajes.forEach((mensaje) => { %>
                            <%= mensaje.usuario %>: <%= mensaje.mensaje %>
                           <% }); %> 
                    </textarea>
                    
                    <!-- Entrada de mensaje -->
                    <div class="input-group mt-3">
                        <input type="hidden" id="usuario" name="usuario" value="<%= nombreUsuario %>" /> <!-- Campo oculto con el nombre de usuario -->
                        <input type="text" id="mensaje" name="mensaje" class="form-control" placeholder="Mensaje" aria-label="Mensaje" required>
                        <button class="btn btn-primary">Enviar</button>
                        <a href="/logout" class="btn btn-danger ms-2">Cerrar Sesión</a> <!-- Botón para cerrar sesión -->
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Agrega referencia a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const eventSource = new EventSource("/sse");
        
        const chatContainer = document.getElementById("floatingTextarea2");
        eventSource.onopen = (event) => {
            console.log("SSE connection established");
        };
        
        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data);
            
            const messageP = `${data.usuario + ': ' + data.mensaje}\n`;
        
            chatContainer.innerHTML += messageP;
        
            chatContainer.scrollTop = chatContainer.scrollHeight;
        };
                document.addEventListener("DOMContentLoaded", function () {
        
                chatContainer.scrollTop = chatContainer.scrollHeight;
                })
    </script>

</body>
</html>